body {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828 ;
  background-size:16px 16px;
  height: 100%;
}

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;
}

/*div {
  width:100%;
  height: 100%;
}*/

#home-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  overflow: hidden;
  z-index: -1;
  position: relative;
}

#home-video video {
  width: 100%;
  max-height: 50% !important;
}



#video_text {
  position: absolute;
  text-align: center;
  width: 75%;
  height: 75%;
  opacity: 0.7;
  z-index: 100;
  /*text-shadow: 0 0 10px #000;*/
  color: #191b1d;
  font-size: 5vw;
  font-family: 'Raleway';
  margin-top: 1.400em;
  margin-left: 2.500em;
  overflow: hidden;
}


.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #ecf0f1;
  color: rgb(136, 172, 217);
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
/*  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;*/
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}

.coupon {
    /*border: 3px dashed #bcbcbc;*/
    border-radius: 10px;
    font-family: "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", 
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.coupon #head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 56px;
}

.coupon #footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#title .visible-xs {
    font-size: 12px;
}

.coupon #title img {
    font-size: 30px;
    height: 30px;
    margin-top: 5px;
}

@media screen and (max-width: 500px) {
    .coupon #title img {
        height: 15px;
    }
}

.coupon #title span {
    float: right;
    margin-top: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.coupon-img {
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
}

.items {
    margin: 15px 0;
}

.usd, .cents {
    font-size: 20px;
}

.number {
    font-size: 40px;
    font-weight: 700;
}

sup {
    top: -15px;
}

#business-info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#business-info ul li { 
    display: inline;
    text-align: center;
}

#business-info ul li span {
    text-decoration: none;
    padding: .2em 1em;
}

#business-info ul li span i {
    padding-right: 5px;
}

.disclosure {
    padding-top: 15px;
    font-size: 11px;
    color: #bcbcbc;
    text-align: center;
}

.coupon-code {
    color: #333333;
    font-size: 11px;
}

.exp {
    color: #f34235;
}

.print {
    font-size: 14px;
    float: right;
}

