<div class="container">
  
  <div class="row" id="green">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-success coupon">

        <div class="panel-heading" id="head">
          <div class="panel-title" id="title">
            <i class="fa fa-github fa-2x"></i>
            <h3 style="text-align:center">{{carrot.carrotName}}</h3>
            <!-- <span class="visible-xs">Automatic Transmission Service</span> -->
          </div>
        </div>

        <div class="panel-body">
          <img src="http://i.imgur.com/e07tg8R.png" class="coupon-img img-rounded">
          <div class="col-md-9">
            <div class="items">
              <h3>Weekly Goal: Run {{carrot.weeklyGoal}}KM</h3>
              <br>
              <h4>Current Participants: {{carrot.numParticipants}}</h4>
              <h4>Entrance Fee: US$ {{carrot.entrance_fee}}</h4>
              <br>
              <h5>Carrot Description: {{carrot.description}}</h5>
            </div>
          </div>
          <div class="col-md-3">
            <div class="offer text-success">
              <h5>Money Pledged:</h5>
              <span class="usd"><sup>$</sup></span>
              <span class="number">{{carrot.moneyPledged}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <h4>How It Works?</h4>
            <p>Well, it's pretty simple. You pledge the entrance fees and commit to meet the weekly goal. If you do, you keep your money and get the money of the lazy members of this carrot who didn't meet their weekly goal.</p>
            <p>If you don't, you lose your money and get to keep your belly :)</p>
            <br>
            <button class="btn btn-primary col-md-4 col-md-offset-4" ng-click="joinCarrot(carrot)">Join Carrot</button>
            <button class="btn btn-danger col-md-4 col-md-offset-4" ng-click="authenticate('fitbit')">Connect with RunKeeper</button>
          </div>
        </div>

        <div class="panel-footer">
          <div class="exp">Carrot Created at: {{carrot.createdAt}}</div>
        </div>

      </div>
    </div>
  </div>
</div>
