<div class="container">
  
  <div class="row" id="green" ng-model="carrot">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-success coupon">

        <div class="panel-heading" id="head">
          <div class="panel-title" id="title">
            <i class="fa fa-github fa-2x"></i>
            <span class="hidden-xs">{{carrot.name}}</span>
            <!-- <span class="visible-xs">Automatic Transmission Service</span> -->
          </div>
        </div>

        <div class="panel-body">
          <img src="http://i.imgur.com/e07tg8R.png" class="coupon-img img-rounded">
          <div class="col-md-9">
            <ul class="items">
              <li>{{carrot.numParticipants}}</li>
              <li>{{carrot.entrance_fee}}</li>
              <li>{{carrot.description}}</li>
              <li></li>
            </ul>
          </div>
          <div class="col-md-3">
            <div class="offer text-success">
              <h5>Money Pledged:</h5>
              <span class="usd"><sup>$</sup></span>
              <span class="number">{{carrot.moneyPledged}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <h4>How Is Works?</h4>
            <p>Using Genuine Oil Filter and 
            multigrade oil up to vehicle specification. Lube as 
            necessary. Ester Oil or Synthetic available at additional 
            cost. Excludes hazardous waste fee, tax and shop supplies, 
            where applicable. Offer not valid with previous charges or 
            with any other offers or specials. Customer must offer at 
            time of write-up. No cash value.</p>
          </div>
        </div>

        <div class="panel-footer">
          <div class="coupon-code">
            <span class="print">
                <a href="#" class="btn btn-link"><i class="fa fa-lg fa-print"></i>Join Carrot</a>
            </span>
          </div>
          <div class="exp">Expires: Sep 30, 2016</div>
        </div>

      </div>
    </div>
  </div>
</div>
