<div class="container">
  
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-success coupon">

        <div class="panel-heading background-carrot" style="border-color:black;" id="head">
          <div class="panel-title" id="title">
            <!-- <img src="/media/carrot.png" style="font-size:50px;width:50px;border:none;height:60px;float:left;margin-left:-20px;padding-bottom:10px;" /> -->
            <h3 style="text-align:center;text-transform:uppercase;font-family:Glegoo;">{{carrot.carrotName}}</h3>
            <!-- <span class="visible-xs">Automatic Transmission Service</span> -->
          </div>
        </div>

        <div class="panel-body carrot-page background-carrot">
          <img src="{{carrot.image_upload}}" style="width:100%;height:400px;object-fit:cover;" class="coupon-img"/>

          <div class="" style="padding:6%">
          <div class="col-md-9">
            <div class="items">

              <div class="data-row">
                <div class="icon-carrot"><i class="fa fa-flag-checkered" style="font-size:larger" aria-hidden="true"></i></div>
                <div class="participants-key" style="font-size:xx-large">Weekly Goal: </div>
                <div class="participants-value" style="font-size:xx-large">{{carrot.weeklyGoal}}km</div>
              </div>
              <br>
              
                <div class="data-row">
                  <div class="icon-carrot"><i class="fa fa-user" style="opacity: 0.9;" aria-hidden="true"></i></div> 
                  <div class="participants-key">Current Participants: </div>
                  <div class="participants-value">{{carrot.numParticipants}}</div>
                </div>

                <div class="data-row">
                  <div class="icon-carrot"><i class="fa fa-money" style="opacity: 0.9;" aria-hidden="true"></i></div><div class="participants-key">Entrance Fee: </div>
                  <div class="participants-value">${{carrot.entrance_fee}}</div>
                </div>
                <br>
                <div class="data-row">
                  <div class="icon-carrot"><i class="fa fa-bars" style="opacity: 0.9;" aria-hidden="true"></i></div>
                  <div class="participants-key">Carrot Description</div>
                  <div class="carrot-desc">{{carrot.description}}</div>
                </div>
            
            </div>
              <br>
          </div>
          <div class="col-md-3">
            <div class="offer text-success">
              <h5 style="padding-top:20px;font-weight:800;font-size: x-large;">Money Pledged:</h5>
              <span class="usd"><sup>$</sup></span>
              <span class="number">{{carrot.moneyPledged}}</span>
            </div>
          </div>
          <hr>
          <div class="col-md-12" style="padding: 4%;">
            <h3>How Does It Work?</h3>
            <p>Well, it's pretty simple. You pledge the entrance fees and commit to meet the weekly goal. If you do, you keep your money and get the money of the lazy members of this carrot who didn't meet their weekly goal.</p>
            <p>If you don't, you lose your money and get to keep your belly :)</p>
            <br>
            <button class="btn btn-primary col-md-4 col-md-offset-4" ng-hide="userInCarrot(currentUser)" ng-click="joinCarrot(carrot)">Join Carrot</button>
            <br>
            <button class="btn btn-danger col-md-4 col-md-offset-4" style="margin-bottom:20px;" ng-click="connectRunkeeper()">Connect with Runkeeper</button>
          </div>
        </div>
        </div>
        <div class="panel-footer">
          <div class="exp">Carrot Created at: {{carrot.createdAt}}</div>
        </div>

      </div>
    </div>
  </div>
</div>
