<!-- Page Content -->
<section id="home-video">
 <div id="video_text">Get fit, Stay fit, and make money when others don't.</div>
 <video autoplay loop>
   <source src="media/runninghipster.mp4" type="video/mp4" />
 </video>
</section>

<div class="container">

  <!-- Title -->
  <div class="row">
    <div class="col-lg-12">
      <h2 style="text-align: center; color:#ecf0f1" >Our Carrots</h2>
    </div>
  </div>
  <!-- /.row -->

<br>
  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-4 col-md-6 col-sm-12 hero-feature" ng-repeat="carrot in carrots track by $index">
      <div class="card">
          <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
          <div class="avatar">
              <img src="media/Slack for iOS Upload.jpg" alt="" />
          </div>
          <div class="content">
              <h2>{{carrot.carrotName}}</h2>
              <h3>Weekly Goal: {{carrot.weeklyGoal}} KM</h3>
              <h4>Entrance Fee: US$ {{carrot.entrance_fee}}</h4>
              <p>{{carrot.description}}</p>
              <br>
              <p>
                <a href="/carrots/{{carrot._id}}" class="btn btn-primary">More Info</a>
              </p>
          </div>
      </div>
    </div>

  <!-- /.row -->
</div>
